<template>
  <lightning-layout vertical-align="stretch">
    <lightning-layout-item flexibility="auto"
                           padding="around-small"
                           class="slds-text-align_center slds-p-around_small"
                           size="1">
      <lightning-icon icon-name="utility:error"
                      alternative-text="Error!"
                      variant="error"
                      size="large">
      </lightning-icon>
    </lightning-layout-item>
    <lightning-layout-item flexibility="auto"
                           padding="around-small"
                           class="custom-box">
      <p class="slds-text-heading_medium">Error</p>
      <p class="bold">An error has ocurred while processing your request.</p>
      <p class="footer-message">Please contact your Salesforce Administrator.</p>
    </lightning-layout-item>
  </lightning-layout>
</template>