.vloc-ins-product {
    padding: 0;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.vloc-add-product-container {
    display: flex;
    padding: 2rem;
    margin-top: 1.5rem;
    align-items: center;
    border: 1px solid rgb(221, 219, 218); 
    flex-direction: column;
}

.vloc-add-product-container .slds-media__figure {
    max-height: 7rem;
}

.vloc-add-product-container .slds-media__figure:hover {
    cursor:pointer;
}

.vloc-ins-add-product-icons .vloc-ins-add-product-icon {
    display: flex;
    max-height: 8rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.vloc-ins-add-product-icon:first-child {
    width: 6rem;
    height: 6rem;
    background-color: #d8edff;
}

.vloc-ins-add-product-icon:nth-child(2) {
    height: 2rem;
    width: 2rem;
    bottom: 2rem;
    left: 3.5rem;
    padding: 1rem;
    position: relative;
    background-color: #006dcc;
    border: 0.2rem solid white;
}

.vloc-ins-toast-container {
  z-index: 999;
}

.vloc-ins-toast-container.vloc-ins-toast-container_top-center {
  top: 42%;
  left: 50%;
  transform: translate(-50%, 0);
}

.vloc-ins-price-change-container {
    border: 1px solid #4ACA82;
    padding: 2rem;
    box-shadow: none;
    font-size: 1.1rem;
    border-radius: 0.4em;
}

.vloc-ins-price-change {
    font-weight: 600;
    position: relative;
}

.vloc-ins-light {
    color: #706E6C;
    font-weight: 300;
    font-size: 1rem;
}